@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Press+Start+2P&display=swap');

:root {
  --background: #efefef;
  --bar: #0453e3;
  --box-shadow: #6997f5;
  --box-border: #FBFAFA;
  --border-color: #9ca1ac;
}

/* Border and Box Shadow */
.blue-border{
  border-style: solid;
  border-width: 2px;
  border-radius: 7px;
  border-color: #9ca1ac;

  box-shadow: 8px 8px 2px -1.5px var(--box-shadow);
  background-color: #FBFAFA
}

/* The grid container */
.grid-container {
  margin: 1.5em auto 1.5em auto;
  
  display: grid; 
  grid-template-areas: 
  'header header header header'
  'left left about about'
  'listening listening about about'
  'web-proj-1 web-proj-1 web-proj-3 web-proj-3'
  'web-proj-2 web-proj-2 data-proj-1 data-proj-1';
  max-width: 80em;
  grid-column-gap: 2em;
}

.header {
  grid-area: header;
  background-color: var(--bar) ;
  margin-bottom: 1em;
  padding: 0em 1em 0em 1em;
  width: 100%;
  
  border-style: ridge;
  border-width: 2px;
  border-radius: 10px;
  border-color: white;
}

/* header */
.header h1{
  display: inline-block;
  font-family:'Press Start 2P';
  font-size: 26px;
  color: white;
  text-shadow: 
  0.050em 0.050em 0 yellow,
  0.075em 0.075em 0 orange,
} 


/* first left box */
.left {
  grid-area: left;
  padding: 2em 1.5em 2em 1.5em;
  height: fit-content;

  margin-left: 2em;
  margin-top:2em;
}

.headshot{
  /* align: center; */
  float:left;
  padding-right: 1.5em;
}

.icons{
  padding-top: 2.5em;
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  justify-content: space-between;
}

.icons :hover{
  background-color: #ccc;
}

/* table inside left */
.nest-deets{
  text-align:right;
  float: right;
  border: 1px solid var(--box-border);
  width: 100%;
}
td{
  padding-top: 1.3em;
  font-family: 'Press Start 2P';
  font-size: 12.5px;
}
.words{
  padding-left: 1em;
  text-align: right;
  font-family: 'IBM Plex Mono';
  font-size: 14.5px;
}


/* listening */

.listening{
  grid-area:listening;
  text-align: center;
  margin-left: 2em;
}

.listening-container{
  display: flex;
  align-items: center;
  justify-content: center
}

.listening-album{
  padding-top: 1.5em;
}

.listening-text{
  font-family: 'IBM Plex Mono';
  font-size: 17px;
  padding-left: 2em;
  padding-top: 1em;
}

/* right */
.about {
  grid-area: about;
  padding: 0em 2.5em 1.5em 2.5em;
}

.blurb{
  padding-left: 1em;
}

.about p{
  font-family: 'IBM Plex Mono';
  font-size: 15px;
  line-height: 2.25;
  letter-spacing: 15%;  
}

.about > .abt-text{
  font-size: 25px;
  font-family: 'Press Start 2P';
}



/* PROJECTS PROJECTS PROJECTS */

.proj-header{
  background-color: var(--bar) ;
  margin-bottom: 1em;
  border-width: 2px;
  border-radius: 5px;
}

.proj-header p{
  display: inline-block;
  font-size: 10px;
  font-family: 'Press Start 2P';
  color: white;
}

.big-txt{
  font-family: 'Press Start 2P';
  font-size: 18px;
  line-height: 1.5em;
}

.small-txt{
  font-family: 'IBM Plex Mono';
  font-size: 15px;
  padding-left: 1em;
  padding-right: 1em;
}


.projects{
  /* grid-area: web-project-1; */
  margin: 1em 0em 1em 0em;
  text-align: center;
}

/*projects-web development*/
.web-proj-1{
  grid-area: web-proj-1;
  margin-left: 2em;

}

.web-proj-2{
  grid-area: web-proj-2;
  margin-left: 2em;

}

.web-proj-3{
  grid-area: web-proj-3;
}

/* projects-data analytics */

.data-proj-1{
  grid-area: data-proj-1;
}

/*resize imgs*/
#smaller-pics{
  width: 50%;
  padding-top: 1em;
  padding-bottom: 1em;
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
.grid-container  {
  /* align-content: center; */
  grid-template-areas: 
  'header header ' 
  'left left'
  'about about'
  'listening listening '
  'web-proj-1 web-proj-1'
  'web-proj-2 web-proj-2'
  'web-proj-3 web-proj-3'
  'data-proj-1 data-proj-1'
}

.blue-border{
  border-style: solid;
  border-width: 2px;
  border-radius: 7px;
  border-color: var(--bar);
  box-shadow: none;
  background-color: #FBFAFA
}

.header{
  text-align: center;
  margin-left: 0em;
}

.left{
  margin: 1em 0em 2em 0em;
}

.about{
  padding: 0em 1em 1.5em 1em;
  text-align: center;
}

.about p{
  font-family: 'IBM Plex Mono';
  font-size: 15px;
  line-height: 2;
  /* letter-spacing: 15%;   */
}

.abt-text{
font-size: 40px ;
}

.listening{
  margin-left: 1em;
  margin-top: 1em;
}

.headshot{
float: none;
margin-left: 25%;
margin-right: 25%;
padding-right: 0;
} 

#smaller-pics{
  width: 90%
}

.big-txt{
  padding-right: 1em;
  /* padding-left: 1em; */
}

.small-txt{
  margin-bottom: 2em;
}

.web-proj-1,.web-proj-2{
  margin-left: 0em;
}

}